# This is a basic workflow to help you get started with Actions

name: Create Release

on:
  repository_dispatch:
    types: [build_application]

jobs:
  #on-success:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          draft: false
          prerelease: false
          release_name: Release ${{ github.event.client_payload.tag }}
          tag_name: ${{ github.event.client_payload.tag }}
          body: this is a test release
          
      - name: Fetch Artifacts
        id: fetch_artifacts
        run: |
          curl -u "ShalamovK:${{ secrets.ACCESS_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/ShalamovK/test_package/actions/runs/${{ github.event.client_payload.run_id }}/artifacts"
